<h1 class="page-header">Blog Feed</h1>

<div class="row show-hide message" *ngIf="message && newPost">
  <div class="col-sm-12" [ngClass]="messageClass">
    {{message}}
  </div>
</div>

<button type="button" name="button" class="btn btn-warning" *ngIf="!newPost" (click)="newBlogForm()">New Post</button>
<button type="button" name="button" [disabled]="loadingBlogs" class="btn btn-success" *ngIf="!newPost" (click)="reloadBlogs()">
  <span class="glyphicon glyphicon-repeat"></span>Reload</button>

<br>
<br>

<!-- Create New Blog Form -->
<form [formGroup]="form" name="blogFrom" *ngIf="newPost" (submit)="onBlogSubmit()">
  <!-- title -->
  <div class="form-group">
    <label for="title">Title</label>
    <div [ngClass]="{'has-success' : form.controls.title.valid, 'has-error' : form.controls.title.dirty && form.controls.title.errors}">
      <input type="text" name="title" class="form-control" placeholder="Blog Title*" autocomplete="off" formControlName="title">
      <ul class="help-block">
        <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.required">This field is required</li>
        <li *ngIf="(form.controls.title.dirty && form.controls.title.errors?.maxlength) || (form.controls.title.dirty && form.controls.title.errors?.minlength)">Min length : 5 and Max length : 50</li>
        <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.alphaNumericValidation">Title Must be alpha Numeric</li>
      </ul>
    </div>
  </div>
  <!-- title -->
  <!-- body -->
  <div class="form-group">
    <label for="title">Body</label>
    <div [ngClass]="{'has-success' : form.controls.body.valid, 'has-error' : form.controls.body.dirty && form.controls.body.errors}">
      <textarea name="" id="body" name="body" placeholder="Body*" class="form-control" formControlName="body" cols="80" rows="8"></textarea>
      <ul class="help-block">
        <li *ngIf="form.controls.body.dirty && form.controls.body.errors?.required">This field is required</li>
        <li *ngIf="(form.controls.body.dirty && form.controls.body.errors?.maxlength) || (form.controls.body.dirty && form.controls.body.errors?.minlength)">Min length : 5 and Max length : 500</li>
      </ul>
    </div>
  </div>
  <!-- body -->
  <button type="button" [disabled]="processing" name="button" class="btn btn-warning" (click)="goBack()">Go Back</button>
  <button type="submit" [disabled]="processing || !form.valid" name="submit" class="btn btn-success">Submit</button>
</form>
<!-- Create New Blog Form -->

<div *ngIf="!newPost">
  <div class="panel panel-primary" *ngFor="let blog of blogPosts">
    <div class="panel-heading">
      <h3 class="panel-title">{{blog.title}}</h3>
    </div>
    <div class="panel-body">
      {{blog.body}}
    </div>
    <!-- start footer -->
    <div class="panel-footer">
      <strong>Posted By : </strong>{{blog.createdBy}}
      <br>
      <strong>Date : </strong>{{blog.createdAt | date : 'MMM dd, yyyy'}}
      <br>
      <div *ngIf="username === blog.createdBy">
        <strong>Likes: </strong>{{blog.likes}}
        <br>
        <strong>Disikes: </strong>{{blog.dislikes}}
      </div>
      <a [routerLink]="['/edit-blog/',blog._id]" *ngIf="username === blog.createdBy">
        <button type="button" name="button" class="btn btn-sm btn-info">Edit</button>
      </a>
      <a [routerLink]="['/delete-blog/',blog._id]" *ngIf="username === blog.createdBy">
        <button type="button" name="button" class="btn btn-sm btn-danger">Delete</button>
      </a>
      <!-- likes dorpdown -->
      <div class="dropdown">
        <button type="button" [disabled]="blog.likedBy.indexOf(username) > -1" name="button" class="btn btn-sm btn-success" *ngIf="username !== blog.createdBy"
          (click)="likeBlog(blog._id)">
          <span class="glyphicon glyphicon-thumbs-up">&nbsp;</span>Likes : {{blog.likes}}
        </button>
        <div class="dropdown-content">
          <a [routerLink]="['/user/',liker]" *ngFor="let liker of blog.likedBy "> {{liker}} </a>
        </div>
      </div>
      <!-- likes dorpdown end -->
      <!-- Dislike dropdown  -->
      <div class="dropdown">
        <button type="button" [disabled]="blog.dislikedBy.indexOf(username) > -1" name="button" class="btn btn-sm btn-warning" (click)="dislikeBlog(blog._id)"
          *ngIf="username !== blog.createdBy">
          <span class="glyphicon glyphicon-thumbs-down">&nbsp;</span>Dislikes : {{blog.dislikes}}
        </button>
        <div class="dropdown-content">
          <a [routerLink]="['/user/',disliker]" *ngFor="let disliker of blog.dislikedBy">{{disliker}}</a>
        </div>
      </div>
      <!-- dislike dropdown end -->
    </div>
    <!-- end footer -->
    <ul class="list-group">
      <li class="list-group-item">
        <button type="button" name="button" class="btn btn-sm btn-danger" (click)="draftComment(blog._id)" [disabled]="newComment.indexOf(blog._id) > -1">Post Comment</button>
        <br>
        <br>
        <div *ngIf="newComment.indexOf(blog._id) > -1">
          <form [formGroup]="commentForm">
            <textarea name="comment" cols="30" rows="10" class="form-control" formControlName="comment"></textarea>
            <div [ngClass]="">
              <ul class="help-block">
                <li *ngIf="commentForm.controls.comment.errors?.required && commentForm.controls.comment.dirty">Comment is required!</li>
                <li *ngIf="(commentForm.controls.comment.errors?.minlength && commentForm.controls.comment.dirty) || 
                (commentForm.controls.comment.errors?.maxlength && commentForm.controls.comment.dirty)">Comment must be atleast 1 characeter but not more than 200.</li>
              </ul>
            </div>
            <br>
            <button type="submit" [disabled]="!commentForm.valid || processing" name="submit" class="btn btn-sm btn-info" (click)="postComment(blog._id)">Submit</button>
            <button type="button" [disabled]="processing" name="cancel" class="btn btn-sm btn-danger" (click)="cancelSubmission(blog._id)">cancel</button>
          </form>
        </div>
      </li>
        <li class="list-group-item" *ngIf="enabledComments.indexOf(blog._id) === -1 && blog.comments.length > 0">
          <span (click)="expand(blog._id)">
            Show Comments&nbsp;&nbsp;
            <div class="glyphicon glyphicon-comment"></div>
          </span>
        </li>
        <li class="list-group-item" *ngIf="enabledComments.indexOf(blog._id) > -1">
          <span (click)="collapse(blog._id)">
            Hide Comments&nbsp;&nbsp;
            <div class="glyphicon glyphicon-comment"></div>
          </span>
        </li>
        <div *ngIf="enabledComments.indexOf(blog._id) > -1">
          <li *ngFor="let comment of blog.comments" class="list-group-item">
            <strong>{{comment.commentator}} : </strong> {{comment.comment}}
          </li>
        </div>
    </ul>
  </div>
</div>